.persons{
    display: flex;
}
.pop{
    background-color: rgb(219, 217, 217);
    color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
    margin: auto;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
}
.skill{
    display: flex;
}
.skill p{
    background-color: antiquewhite;
    margin: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}
.bt-1{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 80px;
}